<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <img class="footer-logo" src="{{ '/assets/img/logos/small.png' | prepend: site.baseurl }}" alt="METRO logo">
      </div>
      <div class="col-md-3 col-sm-6">
        {% for line in site.footer.address %}
        {{ line.line }}<br/>
        {% endfor %}
          Phone: <a href="tel: {{ site.footer.phone }}">{{ site.footer.phone }}</a><br/>
        <p style="padding-top: 10px;">
          {% for srv in site.social %}
          <a href="{{ srv.url }}"><img src="{{ srv.img | prepend: site.baseurl }}" height="25px" alt="{{ srv.title }}"/></a>
          {% endfor %}
          </p>
      </div>
       <div class="col-md-7 col-xs-12">
        <ul class="footer-list">
          {% for page in site.data.footer %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      {% if page.path == "index.html" %}
      <div class="col-md-6 attribution">
          <p>The website look and feel is based on the <a href="{{ site.attribution.theme.url }}">{{ site.attribution.theme.name }}</a> theme.</p>
          <p>This site is open source, so you can make it better and <a href="https://github.com/mnylc/mnylc.github.io">edit it on Github</a></p>
      </div>
      {% endif %}
      <div class="col-md-6">

      </div>
    </div>
  </div>
</footer>
