html {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header > div.container-fluid {
    padding-top: 10%;
    padding-bottom: 15%;
}

header .intro-lead-in {
    /* padding-top:5%; */
    /* padding-bottom: 5%; */
    padding-left: 5%;
    padding-right: 5%;
}

.post-date {
    font-style: italic;
}

.projects {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-shrink .nav li a {
    color: #990099;
}

.navbar-shrink .nav li ul.dropdown-menu a:hover {
    color: #560056;
}

// Class
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#metro_carousel {
    margin-top: 125px;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
}

.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 325px;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.carousel-caption > a {
    color: #990099;
    text-shadow: none;
}

div.portfolio-caption {
    background-image: url("../img/concrete_seamless.png");
}

.portfolio-caption > a {
    color: #990099;
}


