<!DOCTYPE html>
<html>
  
  {% include head.html %}
  
  <body>
    {% include nav.html %}
    
    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">Metro</div>
          <div class="intro-lead-in">Where New York's libraries and archives come together to learn, share ideas, and collaborate.</div>
          <a href="#metro-carousel" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
      </div>
    </header>
    
    {% include carousel.html %}

    {% include projects.html %}
    
    {% include footer.html %}
    
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    
    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
